@(formCliente: Form[Cliente])
@import helper._
@main("Formulário de Clientes") {

<h1>Formulário de Cliente</h1>
@helper.form(action = routes.ClientesController.salvar()) {
<fieldset>
	<legend>Cliente (@formCliente("id").valueOr("Novo"))</legend>
	<input type="hidden" name="id" value='@formCliente("id").value'>

	@helper.inputText(formCliente("nome"), '_label -> "Nome:")
	@helper.inputText(formCliente("dataNascimento"), '_label -> "Data de Nascimento:", 'type -> "date")
	@helper.inputText(formCliente("email"), '_label -> "E-mail:")
	@helper.inputText(formCliente("apelido"),'_label -> "Apelido:")
	@helper.inputText(formCliente("cpf"), '_label -> "CPF:", 'type -> "number")
	@helper.inputText(formCliente("rg"), '_label -> "RG:")
	@helper.inputText(formCliente("login"), '_label -> "Login:")
	@helper.inputText(formCliente("password"), '_label -> "Senha:", 'type -> "password")
	@helper.inputText(formCliente("perfil"), '_label -> "Perfil:")
</fieldset>
<input type="submit" class="btn btn-primary" value="Salvar">
<a class="btn" href="@routes.ClientesController.lista()">Cancelar</a>
} }
