@(listaClientes: List[Cliente]) @main("Lista de Clientes") {
<h2>Todos os Clientes</h2>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Nome</th>
			<th>Data de Nascimento</th>
			<th>E-mail</th>
			<th>Apelido</th>
			<th>CPF</th>
			<th>RG</th>
			<th></th>
			<th>Login</th>
			<th>Senha</th>
		</tr>
	</thead>
	<tbody>
		@for(item <- listaClientes) {
		<tr>
			<td>@item.nome</td>
			<td>@item.dataNascimento</td>
			<td>@item.email</td>
			<td>@item.apelido</td>
			<td>@item.cpf</td>
			<td>@item.rg</td>
			<td></td>
			<td>@item.login</td>
			<td>@item.password</td>
			<td><a href="@routes.ClientesController.formulario(item.id)">Editar</a></td>
			<td><a href="@routes.ClientesController.remover(item.id)"
				onclick="return confirm('Deseja realmente excluir esse cliente?')">Remover</a></td>
		</tr>
		}
	</tbody>
</table>
<a id="ajaxButton" name="ajaxButton" href="@routes.ClientesController.novo()"><button>Novo Cliente</button></a>

<div id="ajaxCadastro" name="ajaxCadastro">&nbsp;</div>
}
