@(listaTelefones: List[Telefone])
@main("Lista de Telefones") {

<h2>Todos os Telefones</h2>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Cliente</th>
			<th>Número</th>
		</tr>
	</thead>
	<tbody>
		@for(item <- listaTelefones) {
		<tr>
			<td>@item.cliente</td>
			<td>@item</td>
			<td><a href="@routes.TelefonesController.formulario(item.id)">Editar</a></td>
			<td><a href="@routes.TelefonesController.remover(item.id)"
				onclick="return confirm('Deseja realmente excluir esse telefone?')">Remover</a></td>
		</tr>
		}
	</tbody>
</table>
<a id="ajaxButton" name="ajaxButton" href="@routes.TelefonesController.novo()"><button>Novo Telefone</button></a>

<div id="ajaxCadastro" name="ajaxCadastro">&nbsp;</div>
}
