@(listaCategorias: List[Categoria])
@main("Lista de Categorias") {

<h2>Categorias</h2>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Nome</th>
			<th>Descrição</th>
		</tr>
	</thead>
	<tbody>
		@for(item <- listaCategorias) {
		<tr>
			<td>@item.nome</td>
			<td>@item.descricao</td>
			<td><a href="@routes.CategoriasController.formulario(item.id)">Editar</a></td>
			<td><a href="@routes.CategoriasController.remover(item.id)"
				onclick="return confirm('Deseja realmente excluir essa categoria?')">Remover</a></td>
		</tr>
		}
	</tbody>
</table>

<a id="ajaxButton" name="ajaxButton" href="@routes.CategoriasController.novo()"><button id="cadastro" name="cadastro">Nova Categoria</button></a>

<div id="ajaxCadastro" name="ajaxCadastro">&nbsp;</div>
}     