@(formEndereco: Form[Endereco], listaClientes: List[Cliente])
@import helper._

<hr />
<h1>Formulário de Endereço</h1>
@helper.form(action = routes.EnderecosController.salvar()) {
<fieldset>
	<legend>Endereço (@formEndereco("id").valueOr("Novo"))</legend>
	<input type="hidden" name="id" value='@formEndereco("id").value'>

	<dl class=" " id="cliente_field">
		<dt>
			<label for="cliente">Cliente</label>
		</dt>
		<dd>
			<select id="cliente" name="cliente">
				<option value=""></option> @for(item <- listaClientes) {
				<option value="@item.id">@item.nome</option> }
			</select>
		</dd>
	</dl>

	@helper.inputText(formEndereco("logradouro"), '_label -> "Logradouro:")
	@helper.inputText(formEndereco("numero"), '_label -> "Número:", 'type
	-> "number") @helper.inputText(formEndereco("complemento"), '_label ->
	"Complemento:") @helper.inputText(formEndereco("cep"),'_label ->
	"CEP:", 'type -> "number", 'size -> 8)
	@helper.inputText(formEndereco("bairro"), '_label -> "Bairro:")
	@helper.inputText(formEndereco("cidade"), '_label -> "Cidade:")
	@helper.inputText(formEndereco("uf"), '_label -> "UF:")
</fieldset>
<input type="submit" class="btn btn-primary" value="Salvar">
<a class="btn" href="@routes.EnderecosController.lista()">Cancelar</a>
}