@(formProduto: Form[Produto])
@import helper._

<hr />
<h1></h1>
@helper.form(action = routes.ProdutosController.salvar()) {
<fieldset>
	<legend>Produto (@formProduto("id").valueOr("Novo"))</legend>
	<input type="hidden" name="id" value='@formProduto("id").value'>

	@helper.inputText(formProduto("nome"), '_label -> "Nome:")
	@helper.inputText(formProduto("descricao"), '_label -> "Descrição:")
	@helper.inputText(formProduto("peso"), '_label -> "Peso:", 'type -> "number")
	@helper.inputText(formProduto("tamanho"),'_label -> "Tamanho:", 'type -> "number")
	@helper.inputText(formProduto("preco"), '_label -> "Preço:", 'type -> "number")
</fieldset>
<input type="submit" class="btn btn-primary" value="Salvar">
<a class="btn" href="@routes.ProdutosController.lista()">Cancelar</a>
}